In [79]:
import pandas as pd

In [80]:
url_v = 'https://drive.google.com/file/d/1QosQQ4RRNR9rkL4t7sB707h2Uy0XfYJe/view'
url_v = 'https://drive.google.com/uc?id=' + url_v.split('/')[-2]
visits = pd.read_csv(url_v)
visits.date = pd.to_datetime(visits.date)
#visits.head()

In [81]:
url_r = 'https://drive.google.com/file/d/1AeQz0kaSgz0lxYSDtuNm36muhy5fRCzZ/view'
url_r = 'https://drive.google.com/uc?id=' + url_r.split('/')[-2]
regs = pd.read_csv(url_r)
regs.date = pd.to_datetime(regs.date)
#regs.head()

In [82]:
visits = visits[(visits['date'] >= '2023-03-01') & (visits['date'] < '2023-09-01')]

In [83]:
regs = regs[(regs['date'] >= '2023-03-01') & (regs['date'] < '2023-09-01')]
#regs.head()

In [84]:
visits.describe()

                                date
count                           1000
mean   2023-03-02 18:25:04.564000256
min              2023-03-01 00:05:35
25%              2023-03-01 12:02:27
50%       2023-03-01 23:28:04.500000
75%    2023-03-03 21:42:13.249999872
max              2023-03-07 23:05:08

In [85]:
regs.describe()

                             date       user_id
count                        1000  1.000000e+03
mean   2023-03-03 10:59:03.900000  4.488623e+06
min           2023-03-01 00:12:22  2.236800e+04
25%    2023-03-02 14:08:57.500000  2.235489e+06
50%           2023-03-03 10:33:06  4.473044e+06
75%    2023-03-04 07:32:06.500000  6.779707e+06
max           2023-03-05 22:04:01  8.881772e+06
std                           NaN  2.620568e+06